/* Not even sure if this is used */
.uvreport {
  font-size: 75%;
  display: inline-block;
  -o-transform: translate(0, -3px);
  -moz-transform: translate(0, -3px);
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.time {
  padding-left: 10px;
}

.status {
  padding-left: 10px;
  text-align: right;
}

/* Statuses */
.low {
  color: #558B2F;
}

.moderate {
  color: #F9A825;
}

.high {
  color: #EF6C00
}

.veryhigh {
  color: #B71C1C
}

.extreme {
  color: #6A1B9A
}